<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>
<body>
<h2 style="text-align: center;">GitCatch</h2>

<table>
    <tr>
        <th>#</th>
        <th>Repository</th>
        <th>Issue</th>
    </tr>
    {% for issue in issues %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{{ issue.repository.url }}">{{ issue.repository.name }}</a></td>
            <td><a href="{{ issue.url }}">{{ issue.title }}</a></td>
        </tr>
    {% endfor %}
</table>

<div> Click <a href="{{ unsubscription_url }}">here</a> to unsubscribe.</div>
</body>
</html>